<div id="dabout" class="container">
  <div class="row">
    <div id="dselfie">
      <img src="assets/selfie.png" class="ppic">
    </div>

    <div id="ddesc">
      <h1>Calvin Huang</h1>
      <h2>I like to build.</h2>
      <div id="dsocials">
        <a href="mailto:{{ site.email }}">
            <img src="assets/svgs/email_icon.svg" class="iico">
        </a>
        <a href="https://twitter.com/scholarc1314">
            <img src="assets/svgs/twitter.svg" class="iico">
        </a>
      </div>
    </div>
  </div>
</div>
