$profile-img-width: 220px;
$profile-img-height: 220px;

$list-title-font-size: 24px;

@mixin img-border($border-color: rgb(0, 0, 0)) {
  background-color: pink;
  border: 2px solid $border-color;
}

.profile-image {
  @include img-border($border-color: rgb(207, 201, 240));
  width: $profile-img-width;
  height: $profile-img-height;
  margin-bottom: 20px;
  object-fit: contain;
}

.calvin-list-title {
  font-size: $list-title-font-size;
}