---
layout: default
---
<div class="projects"> <!-- TODO: make projects class in calvin-theme.scss -->
  {% for project in site.projects %}
    <div class="project-list-item">
      <div class="calvin-list-title">
        {% if project.site-link %}
          <a href="{{ project.site-link }}" target="_blank">
            {{ project.title | escape}}
          </a>
        {% else %}
          <span class="calvin-list-title">
            {{ project.title | escape}}
          </span>
        {% endif %}
         - 
        <a href="{{ project.github-link }}" target="_blank">
          Github
        </a>
      </div>
      <p>{{ project.brief }}</p>
    </div>
  {% endfor %}
</div>